@import '../../Variables';

.bottom {
  background-color: $dark-bg-color;
  color: $light-text-color;

  h3 {
    color: $light-text-color;
  }
}
.bottom .about,
.bottom .nav-links {
  margin-bottom: 3rem;
}
.bottom .nav-links a,
.bottom .user-links a {
  color: $light-text-color;
  cursor: pointer;
}
.bottom .nav-links a:hover,
.bottom .user-links a:hover {
  color: $primary-color;
}
.bottom .nav-links a::before,
.bottom .user-links a::before {
  content: ">";
  font-weight: 700;
  color: $primary-color;
  margin-right: 0.5rem;
}
.bottom .about {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  text-align: left;
}
.bottom .about img {
  height: 25px;
  width: auto;
}
.bottom .about p {
  margin-bottom: 0;
}
.bottom .about .social {
  font-size: 1.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.bottom .about .social i {
  margin-bottom: 0;
  color: $primary-color;
}
.bottom .nav-links,
.bottom .user-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

@media screen and (min-width: 800px) {
  .bottom .about,
  .bottom .nav-links {
    margin-bottom: 0;
  }
}
