$primary-color: #65bc7b;
$dark-primary-color: #3a8b4e;
$secondary-color: #252525;

$dark-bg-color: #252525;
$light-bg-color: #e2e2e2;
$dark-text-color: #252525;
$light-text-color: #e2e2e2;

$selection-color: #35704491;

$main-transition: ease-in-out .25s;
$border-radius: 2px;